.splash-footer {
  /* width: 100%;
  position: fixed;
  border-top: 1px solid gray;
  font-family: 'Shrikhand', cursive;
  color: white;

  z-index: 10;
  background-color: black;
  bottom: 0;
  padding-bottom: 20px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 25vh;
  background-color: black;
  border-top: 1px solid gray;
  color: white;
}

.splash-footer h1, .splash-footer p, .splash-footer a {
  font-family: 'Shrikhand', cursive;
}

.footer-main-title {
  font-size: 34px;
}

.footer-profiles {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
}

.footer-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.footer-links a {
  margin: 0 4px;
}

.team {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}